<div class="sidebar bg-dark text-white p-3">

    <h4>ExpTrack</h4>

    <hr>

    <ul class="nav flex-column">

        <li class="nav-item">
            <a class="nav-link text-white" href="#">Users</a>
        </li>

        <li class="nav-item">
            <a class="nav-link text-white" href="{% url 'income_category_list' %}">Income Categories</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="{% url 'expense_category_list' %}">Expense Categories</a>
        </li>

        <li class="nav-item">
            <a class="nav-link text-white" href="#">Links</a>
        </li>


    </ul>

</div>