<div class="sidebar bg-dark text-white p-3">

    <h4>ExpTrack</h4>

    <hr>

    <ul class="nav flex-column">

        <li class="nav-item">
            <a class="nav-link text-white" href="{% url 'dashboard'%}">Dashboard</a>
        </li>

        <li class="nav-item">
            <a class="nav-link text-white" href="{% url 'income_list'%}">Incomes</a>
        </li>

        <li class="nav-item">
            <a class="nav-link text-white" href="{% url 'expense_list'%}">Expense</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="#">Balance</a>
        </li>

    </ul>

</div>