{% extends 'admin/base.html' %}

{% block content %}

<div class="d-flex justify-content-between align-items-center mb-4">
    <h3>Expense Categories</h3>

    <div class="d-flex gap-2">
        <a href="{% url 'expense_category_add' %}" class="btn btn-primary d-flex align-items-center gap-2">
            <i class="bi bi-plus-circle"></i> Add Category
        </a>
        <a href="{% url 'expense_category_export' %}" class="btn btn-info d-flex align-items-center gap-2">
            <i class="bi bi-send-check"></i> Export
        </a>
    </div>
</div>

<table class="table table-bordered table-hover">
    <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>Category</th>
            <th>Description</th>
            <th>Status</th>
            <th>Created At</th>
            <th>Updated At</th>
            <th>Actions</th>

        </tr>
    </thead>

    <tbody>

        {% for category in categories %}

        <tr>
            <td class="text-center">{{ category.id }}</td>
            <td>{{ category.name }}</td>
            <td class="description-column">{{ category.description }}</td>
            <td class="text-center">
                {% if category.is_active %}
                <span class="badge bg-success">Active</span>
                {% else %}
                <span class="badge bg-danger">Inactive</span>
                {% endif %}
            </td>
            <td>
                {{ category.created_at|date:"d M Y" }} <br>
                <small class="text-muted">
                    ({{ category.created_at|timesince }} ago)
                </small>
            </td>
            <td>
                {{ category.updated_at|date:"d M Y" }}
                <br>
                <small class="text-muted">
                    ({{ category.created_at|timesince }} ago)
                </small>
            </td>
            <td>
                <div class="d-flex gap-1">

                    <a href="{% url 'expense_category_edit' category.id %}" class="btn btn-warning btn-sm">
                        Edit
                    </a>

                    {% if category.is_active %}
                    <a href="{% url 'expense_category_toggle' category.id %}" class="btn btn-danger btn-sm">
                        Deactivate
                    </a>
                    {% else %}
                    <a href="{% url 'expense_category_toggle' category.id %}" class="btn btn-success btn-sm">
                        Activate
                    </a>
                    {% endif %}

                </div>
            </td>
        </tr>

        {% empty %}

        <tr>
            <td colspan="4" class="text-center">
                No categories found.
            </td>
        </tr>

        {% endfor %}

    </tbody>
</table>

{% endblock %}